.container {
    width: 99vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}

.header {
    width: 100%;
    height: 100px;
    /* border: 1px solid white; */
    padding: 0 100px 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}


.header .menu {
    width: 430px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .menu .button {
    display: flex;
    background-color: transparent;
    color: #000000;
    border: 2px solid transparent;
    font-weight: 700;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    align-items: center;
    border-radius: 5px;
}

.header .menu .button:hover {
    border: 2px solid gray;
}

.header .icons {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .icons .button {
    display: flex;
    padding: 0;
    align-items: center;
    border: none;
    background-color: transparent;
}

.header .icons .item {
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 30px;
    padding: 0;
    background-color: transparent;
}

.header .icons .item:hover {
    height: 30px;
    width: 30px;
    padding: 0;
    border: none;
    opacity: 0.5;
    background-color: #dedede;
}


.body {
    width: 100%;
    height: 316px;
    background-image: url(../../assets/images/Frontpage/template2/shop/shop.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.body .text1 {
    font-size: 52px;
    line-height: 65px;
    color: #000000;
    font-weight: 700;
}

.body .text2 {
    font-size: 16px;
    color: #333333;
    font-weight: 700;
    margin-right: 6px;
    margin-top: 20px;
}

.body .text3 {
    font-size: 16px;
    color: #333333;
    font-weight: 400;
    margin: 0;
    margin-top: 20px;
}

.filter {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #F9F1E7;
}


.filter .group2 {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

.filter .group2 .box {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.filter .group2 .label {
    font-size: 20px;
    color: #000000;
    margin-right: 20px;
    margin-left: 20px;
}


.filter .group2 .input {
    border: none;
    width: 55px;
    height: 55px;
    text-align: center;
    font-size: 20px;
    color: #9F9F9F;
}

.filter .group2 .input1 {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 188px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    color: #9F9F9F;
}



.products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 46px;
}


.products .itemContainer {
    max-width: 1236px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 32px;
}

.products .itemContainer .item {
    width: 285px;
    height: 446px;
    display: flex;
    flex-direction: column;
}

.products .itemContainer .item .image {
    width: 285px;
    height: 301px;
}

.products .itemContainer .item .description {
    width: 285px;
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F4F5F7;
    padding: 16px;
    margin: 0;
}

.products .itemContainer .item .description .name {
    font-size: 24px;
    font-weight: 700;
    /* line-height: 120%; */
    color: #3A3A3A;
}

.products .itemContainer .item .description .details {
    font-size: 16px;
    font-weight: 600;
    /* line-height: 150%; */
    color: #898989;
}

.products .itemContainer .item .description .price {
    font-size: 20px;
    font-weight: 700;
    /* line-height: 150%; */
    color: #3A3A3A;
}

.products .pages {
    display: flex;
    flex-direction: row;
    column-gap: 38px;
    margin-top: 70px;
    margin-bottom: 85px;
}

.products .pages .button {
    width: 60px;
    height: 60px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    background-color: #B88E2F;
    padding: 15px;
    cursor: pointer;

}
.products .pages .button1 {
    min-width: 60px;
    height: 60px;
    color: #000000;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    background-color: #F9F1E7;
    padding: 15px;
    cursor: pointer;
    
}

.warranty {
    width: 100%;
    height: 270px;
    background-image: url(../../assets/images/Frontpage/template2/shop/warranty.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.footer .frame1 {
    padding: 64px 0 64px 0;
    background-color: #F5F7FA;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer .frame1 .info .logo {
    margin-bottom: 40px;
}

.footer .frame1 .info .copyright {
    margin-bottom: 40px;
}

.footer .frame1 .info .copyright .text {
    color: #9F9F9F;
    width: 285px;
}

.footer .frame1 .info .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer .frame1 .links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 20px;
}

.footer .frame1 .links .column {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.footer .frame1 .links .column .title {
    font-size: 16px;
    font-weight: 500;
    color: #9F9F9F;
    margin: 0 0 24px 0;
    padding: 0;
}

.footer .frame1 .links .column .item {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin: 0 0 12px 0;
    padding: 0;
    display: flex;
    text-align: center;
}

.footer .frame1 .links .column .input {
    font-size: 15px;
    color: D9DBE1;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    width: 255px;
    height: 40px;
    margin: 0;
    padding: 0;
    display: flex;
    padding: 0 10px 0 10px;
}

.credit {
    background-color: #263238;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #636060;
}