* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 99vw;
    max-width: 100%;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    overflow-x: hidden;
}


.header {
    display: flex;
    height: 84px;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group {
    width: 588px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* background-color: aqua; */
}

.group .item {
    display: flex;
    border: 1px solid transparent;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    align-items: center;

}

.group .item:hover {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.group .label {
    font-size: 16px;
    font-weight: 400;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login .button {
    display: flex;
    padding: 10px 20px 10px 20px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #4CAF4F;
    cursor: pointer;
}

.login .button1 {
    display: flex;
    padding: 10px 20px 10px 20px;
    justify-content: center;
    align-items: center;
    background-color: #4CAF4F;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

}

.home {
    display: flex;
    flex-direction: column;
    /* padding-left: 144px;
    padding-right: 144px; */
    background-color: #F5F7FA;
}

.heroSection {
    padding: 96px 144px 96px 144px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.heroSection .frame {
    margin-right: 104px;
}

.heroSection .frame .text1 {
    font-size: 45px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.heroSection .frame .text2 {
    font-size: 15px;
    font-weight: 500;
    color: #717171;
    margin: 0;
    padding: 0;
}

.heroSection .frame .button {
    font-size: 15px;
    font-weight: 500;
    background-color: #4CAF4F;
    padding: 14px 32px 14px 32px;
    color: #FFFFFF;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    margin-top: 40px;
}

.clients {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    padding-left: 144px;
    padding-right: 144px;
    background-color: #FFFFFF;
    /* justify-content: center; */
    /* align-items: center; */
}

.clients .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.clients .description .title {
    font-size: 35px;
    font-weight: 700;
    color: #4D4D4D;
    margin: 0;
    padding: 0;
}

.clients .description .text {
    font-size: 15px;
    font-weight: 500;
    color: #717171;
    margin: 0;
    padding: 0;
}

.clients .logos {
    height: 98px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.client .logos .img {
    width: 48px;
    height: 48px;
}

.community {
    /* background-color: blueviolet; */
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    padding-left: 144px;
    padding-right: 144px;
    background-color: #FFFFFF;
    /* justify-content: center; */
    /* align-items: center; */
}

.community .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    line-height: 45px;
    color: #717171;
    margin-bottom: 16px;
}

.community .description .title {
    font-size: 35px;
    width: 542px;
    font-weight: 700;
    color: #4D4D4D;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 45px;
}

.community .description .text {
    font-size: 15px;
    font-weight: 500;
    color: #717171;
    margin: 0;
    padding: 0;
}

.community .frame {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.community .frame .box {
    display: flex;
    width: 299px;
    align-items: center;
    flex-direction: column;

}

.member {
    width: 267px;
    margin: 16px 0 16px 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.member .title {
    font-size: 25px;
    line-height: 25px;
    font-weight: 700;
    color: #4D4D4D;
    margin: 16 0 0 0;
    padding: 0;
    text-align: center;
}

.membeDescription {
    font-size: 15px;
    font-weight: 500;
    color: #717171;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
}

.body {
    display: flex;
    flex-direction: column;
    /* padding-left: 144px;
    padding-right: 144px; */
    background-color: #F5F7FA;
}

.text-frame {
    width: 661px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.unlock {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 144px;
    padding-right: 144px;
    margin-bottom: 48px;
}

.unlock .image {
    width: 443px;
    height: 443px;
}

/* .unlock .frame {} */

.unlock .frame .text1 {
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
    margin: 0 0 16px 0;
    padding: 0;
    color: #4D4D4D;
}

.unlock .frame .text2 {
    font-size: 15px;
    font-weight: 500;
    color: #717171;
    margin: 0;
    padding: 0;
}

.unlock .frame .button {
    font-size: 15px;
    font-weight: 500;
    background-color: #4CAF4F;
    padding: 14px 32px 14px 32px;
    color: #FFFFFF;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    margin-top: 40px;
}

.achievements {
    padding: 64px 144px 64px 144px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
    background-color: #FFFFFF;
}

.achievements .heading {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    width: 540px;
    margin: 0;
    padding: 0;
    line-height: 45px;
    color: #717171;
    margin-bottom: 16px;
}

.achievements .heading .title {
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
    margin: 0 0 16px 0;
    padding: 0;
    color: #4D4D4D;
}

.achievements .heading .description {
    font-size: 15px;
    font-weight: 500;
    color: #717171;
    margin: 0;
    padding: 0;
}

/* .achievements .counts {} */

.achievements .counts .row1 {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 40px;
}

.achievements .counts .row1 .item {
    display: flex;
    flex-direction: row;
}

.achievements .counts .row1 .item .details {
    display: flex;
    flex-direction: column;
}

.achievements .counts .row1 .item .details .number {
    font-size: 20px;
    font-weight: 700;
    color: #18191F;
    margin: 0;
    padding: 0;
}

.achievements .counts .row1 .item .details .label {
    font-size: 14px;
    font-weight: 500;
    color: #717171;
    margin: 0;
    padding: 0;
}

.achievements .counts .row1 .item .icon {
    width: 43px;
    height: 43px;
    margin-right: 16px;
}

.achievements .counts .row2 {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

.achievements .counts .row2 .item {
    display: flex;
    flex-direction: row;
}

.achievements .counts .row2 .item .details {
    display: flex;
    flex-direction: column;
}

.achievements .counts .row2 .item .details .number {
    font-size: 20px;
    font-weight: 700;
    color: #18191F;
    margin: 0;
    padding: 0;
}

.achievements .counts .row2 .item .details .label {
    font-size: 14px;
    font-weight: 500;
    color: #717171;
    margin: 0;
    padding: 0;
}

.achievements .counts .row2 .item .icon {
    width: 43px;
    height: 43px;
    margin-right: 16px;
}

.calender {
    padding: 96px 144px 96px 144px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.calender .image {
    width: 443px;
    height: 443px;
}

/* .calender .frame {} */

.calender .frame .text1 {
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
    margin: 0 0 16px 0;
    padding: 0;
    color: #4D4D4D;
}

.calender .frame .text2 {
    font-size: 15px;
    font-weight: 500;
    color: #717171;
    margin: 0;
    padding: 0;
}

.calender .frame .button {
    font-size: 15px;
    font-weight: 500;
    background-color: #4CAF4F;
    padding: 14px 32px 14px 32px;
    color: #FFFFFF;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    margin-top: 40px;
}

.customers {
    padding: 32px 224px 32px 224px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 48px; */
}

.customers .image {
    margin-right: 78px;
}

.customers .frame {
    display: flex;
    flex-direction: column;
}

.customers .frame .text1 {
    font-size: 15px;
    margin-bottom: 16px;
    font-weight: 500;
    padding: 0;
    color: #717171;
}

.customers .frame .text2 {
    font-size: 20px;
    font-weight: 500;
    color: #4CAF4F;
    margin: 0;
    padding: 0;
}

.customers .frame .text3 {
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: #89939E;
    margin-bottom: 16px;
}

.customers .frame1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}


.customers .frame1 .logos {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.customers .frame1 .logos .img {
    width: 43px;
    height: 43px;
    padding: 0;
    margin: 0;
}

.customers .frame1 .button {
    display: flex;
    padding: 10px 20px 10px 20px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #4CAF4F;
    cursor: pointer;
    font-weight: 700;

}

.communityUpdates {
    /* padding: 32px 144px 32px 144px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-bottom: 48px; */
}

.communityUpdates .frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.communityUpdates .frame .heading {
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
    margin: 0 0 16px 0;
    padding: 0;
    color: #4D4D4D;
}

.communityUpdates .frame .description {
    font-size: 15px;
    width: 628px;
    font-weight: 500;
    padding: 0;
    color: #717171;
}

 .frame1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: center; */
}

.communityUpdates .frame1 .box .img {
    width: 368px;
    height: 286px;
    filter: blur(2px);
}

.communityUpdates .frame1 .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}

.communityUpdates .frame1 .box .content {
    display: flex;
    padding: 16px;
    height: 176px;
    width: 317px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%);
    background-color: #F5F7FA;
}

.communityUpdates .frame1 .box .content .text {
    font-size: 20px;
    /* line-height: 40px; */
    width: 285px;
    font-weight: 500;
    margin: 0 0 16px 0;
    padding: 0;
    color: #4D4D4D;

}

.communityUpdates .frame1 .box .content .button {
    display: flex;
    padding: 10px 20px 10px 20px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #4CAF4F;
    cursor: pointer;
    font-weight: 700;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #F5F7FA;
}

.footer .frame1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0 32px 0;
}

.footer .frame1 .text {
    font-size: 50px;
    line-height: 50px;
    font-weight: 500;
    color: #717171;
    margin: 0 0 32px 0;
    padding: 0;
    display: flex;
    text-align: center;
}

.footer .frame1 .button {
    display: flex;
    padding: 10px 20px 10px 20px;
    justify-content: center;
    align-items: center;
    background-color: #4CAF4F;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.footer .frame2 {
    padding: 64px 0 64px 0;
    width: 100%;
    background-color: #263238;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer .frame2 .info .logo {
    margin-bottom: 40px;
}

.footer .frame2 .info .copyright {
    margin-bottom: 40px;
}

.footer .frame2 .info .copyright .text {
    color: #F5F7FA;
}

.footer .frame2 .info .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer .frame2 .links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer .frame2 .links .column {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.footer .frame2 .links .column .title {
    font-size: 25px;
    line-height: 25px;
    font-weight: 500;
    color: #F5F7FA;
    margin: 0 0 24px 0;
    padding: 0;
}

.footer .frame2 .links .column .item {
    font-size: 12px;
    /* font-weight: 500; */
    color: #F5F7FA;
    margin: 0 0 12px 0;
    padding: 0;
    display: flex;
    text-align: center;
}

.footer .frame2 .links .column .input {
    font-size: 15px;
    color: D9DBE1;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    width: 255px;
    height: 40px;
    margin: 0;
    padding: 0;
    display: flex;
    padding: 0 10px 0 10px;
}

.credit{
    background-color: #263238;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #636060;
}