.navbar {
    width: 100%;
    /* height: 80px; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #2B2B2B;
    padding: 30px 50px 30px 50px;
}

.navbar .frame1 {
    display: flex;
    flex-direction: row;
}

.navbar .frame1 .logo {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 100%;
    color: #FFFFFF;
}

.navbar .frame2 {
    display: flex;
    flex-direction: row;
}

.navbar .frame2 .menu {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.navbar .frame2 .menu .item {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 20px;
    color: #FFFFFF;
    /* background-color: red; */
    padding: 4px 8px 4px 8px;
}


.navbar .frame3 {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.navbar .frame3 .button{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 20px;
    color: #FFFFFF;
    background-color: #7C3AED;
    padding: 8px 12px 8px 12px;
    border-radius: 4px;
}